.root {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: var(--space-m);
}

.field {
  display: grid;
  flex: 1 1 calc(var(--space-12xl) + var(--space-12xl));
  min-width: min(100%, calc(var(--space-12xl) + var(--space-12xl)));
  gap: var(--space-2xs);
}

.label {
  color: var(--text-subtle);
  font-size: var(--text-xs);
  line-height: 1;
}
